
<header>

    <nav class ="navbar navbar-expand-md navbar-light bg-warning">
    <ul class="navbar-nav">
    
        <li><a routerLink="/home" style="margin-right: 50px;">Home</a></li>
      
      <li>  <a routerLink="/login" style="padding-left: 40px;">Admin_Log_In </a></li>
      <li><a *ngIf="logService.login()" routerLink="mytest" style="padding-left: 90px;">Test</a></li>
      <li><a *ngIf="logService.login()" routerLink="/question" style="padding-left: 140px;">Question</a></li>
      <li><a *ngIf="logService.login()" routerLink="/listUser" style="padding-left: 180px;">Users_Info</a></li>

      <li><a  *ngIf="logService.login()" routerLink="/logout" style="margin-left: 300px;">   Logout</a></li>

    </ul>
    
</nav>
   

    </header>
  

    