table{
    margin-left: 280px;
    background-color: antiquewhite;
    width: 800px; 
    border-width: 6px;
    margin-top: 60px;
    border-color:black;
    border-style: dashed;
    position: center;
    margin-bottom: 200px;
     
 }

 td,tr
    {
     padding-right: 1px;
     padding-left: 5px;
     padding-bottom:5px;
     padding-top:5px;
    }

 th
    {
     padding-left: 3px;
    }
