<div style="padding-bottom: 20px;padding-top: 20px;">

<a routerLink="/add" style="text-align:center;font-size: 20px;color: teal;text-underline-position: below;margin-left: 10px;">Click here to create new test</a>
<br>
<a routerLink="/assign" style="text-align:center;font-size: 20px;color: teal;text-underline-position: below;margin-left: 10px;">Click here to assign test</a>
</div>
<h1>All Test Items</h1>
<table> 
    <tr>
        <th>Test Id</th>
        <th>Test Title</th>
        <th>Test Duration</th>
        <th>Test Start Time</th>
        <th>Test End Time</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tr *ngFor="let t of test|async">
        <td>{{t.testId}}</td>
        <td>{{t.testTitle}}</td>
        <td>{{t.testDuration}}</td>
        <td>{{t.startTime}}</td>
        <td>{{t.endTime}}</td>
        <td> <button (click)="deleteTest(t.testId)">Delete</button></td>
        <td><button (click)="updateTest(t.testId)">Update</button></td>
    
    </tr>
</table>

