<!--  
<h1>Update Question Details</h1>

<div *ngIf="ques">
    <div>
        <label><b>Question Id</b></label><td>{{ques.questionId}}</td>
    </div>

    <div>
        <label><b>Test Title</b></label><td>{{ques.questionTitle}}</td>
    </div>

    <div>
        <label><b>Test Duration</b></label><td> {{ques.choice}} </td>
    </div>


    <div>
        <label><b>Test Start Time</b></label><td>  {{ques.questionMarks}}</td>
    </div>
    
</div>
<br>
<button (click)="list()"> Go Back</button>

-->


   



