<form [formGroup]="angForm" novalidate>
    <div class="form-group">
        <div>
            <img src="assets/images/img1.png" class="avatar">
            <br>
            <label for="name">Enter Name:</label><br>
            <input class="form-control" type="text" formControlName="name"name="name" [(ngModel)]="name" required>
    
            <div *ngIf="angForm.controls['name'].invalid" class="alert alert-danger">
                <div *ngIf="angForm.controls['name'].errors.required">
                Name is required.
              </div>
            </div>

            <label for="pass">Enter Password:</label><br>
             <input class="form-control" type="password" formControlName="pass" name="pass" [(ngModel)]="pass" required>
             <div *ngIf="angForm.controls['pass'].invalid" class="alert alert-danger">
             <div *ngIf="angForm.controls['pass'].errors.required">
                Password is required.
              </div>
        </div>
    </div>

        <button (click)=checkLogin() class="btn btn-success">Login</button>
     
        <br><br>
       
    </div>
    
    </form>
    
   
   
   
   
   
   
   
   <!---    
   
   <form>
<div class="container">
    <div>
        <img src="assets/images/img1.png" class="avatar">
        <br>
        <label for="name">Enter Name:</label><br>
        <input type="text" name="name" [(ngModel)]="name" required #nameInput="ngModel">

        <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
            Name is required and needs to be at least 3 characters long.
          </div>

        <br>
        <br>
        <br> 
    
        <label for="pass">Enter Password:</label><br>
         <input type="password" name="pass" [(ngModel)]="pass" required #nameInput="ngModel">
         <div *ngIf="pass."></div>
    </div>

    <br>
<br>
    <button (click)=checkLogin() class="btn btn-success">Login</button><br><br>
</div>

</form>

 -->