<nav class="navbar navbar-expand-md navbar-light bg-transparent">
    <ul class="navbar-nav">


        <li style="text-align: center;padding-left: 450px;">Want to add or update questions?<a routerLink="/detail"
                style="text-align:center;font-size: 20px;color: teal;text-underline-position: below;text-decoration: underline;">click
                here</a></li>

    </ul>
</nav>
<br>
<h2 style="color: brown;text-align: center;">DETAILS OF ALL QUESTIONS PRESENT IN APPLICATION</h2>
<table>
    <thead>
        <td>Question Id</td>
        <td>Question Title</td>

        <td colspan="4" style="text-align: center;">Question Options</td>
        <td>Question Answer</td>
        <td>Question Marks</td>
    </thead>


    <tbody>
        <tr *ngFor="let q of question | async">

            <td>{{q.questionId}}</td>
            <td>{{q.questionTitle}}</td>


            <td colspan="1" *ngFor="let qu of q.questionOptions">
                {{qu.value}}
            </td>


            <td> {{q.choice}} </td>
            <td> {{q.questionMarks}}</td>

        </tr>

    </tbody>
</table>
<hr>