table{
    margin-left: 100px;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: cornsilk;
   
    }
    tr,th,td{
        border-style: double;
        border-width: 100%;
    
    
    
    }

    tr{
        width: 300px;
    }
    li a{
        color: rgb(3, 3, 3);
    }
    li{
        font-size: 25px;
    }
    