<h1>ADD QUESTION FORM</h1>

<div [hidden]="submitted" style="width: 400px;">

<form (ngSubmit)="onSubmit()" style="margin-left: 50px;">
   
    <div class="form-group">
        <label for="id">Enter question id</label>
        <input class="form-control" id="id" required [(ngModel)]="ques.questionId" name="id">
    </div>
 
    
<div class="form-group">
    <label for="name">Enter Question Title</label>
    <input class="form-control" id="name" required [(ngModel)]="ques.questionTitle" name="name">
</div>
 <!--- 
<div class="form-group">
    <label for="ansid">Enter Question Options</label>
    <input class="form-control" id="ansid" required [(ngModel)]="ans.answerId" name="ansid">
    <label for="ansid1"></label>
    <input class="form-control" id="ansid1" required [(ngModel)]="ans.answerId" name="ansid1">
    <label for="ansid2"></label>
    <input class="form-control" id="ansid2" required [(ngModel)]="ans.answerId" name="ansid2">
    <label for="ansid3"></label>
    <input class="form-control" id="ansid3" required [(ngModel)]="ans.answerId" name="ansid3">
</div>




<div class="form-group">
    <label for="op1">Enter Question Option 1</label>
    <input class="form-control" id="op1" required [(ngModel)]="ques.questionOption1" name="op1">
</div>

<div class="form-group">
    <label for="op2">Enter Question Option 2</label>
    <input class="form-control" id="op2" required [(ngModel)]="ques.questionOption2" name="op2">
</div>

<div class="form-group">
    <label for="op3">Enter Question Option 3</label>
    <input class="form-control" id="op3" required [(ngModel)]="ques.questionOption3" name="op3">
</div>


<div class="form-group">
    <label for="op4">Enter Question Option 4</label>
    <input class="form-control" id="op4" required [(ngModel)]="ques.questionOption4" name="op4">
</div>

-->
<div class="form-group">
    <label for="ans">Enter Question Answer</label>
    <input class="form-control" id="ans" required [(ngModel)]="ques.questionAnswer" name="ans">
</div>
<div class="form-group">
    <label for="marks">Enter Question Marks</label>
    <input class="form-control" id="marks" required [(ngModel)]="ques.questionMarks" name="marks">
</div>


    <button type="submit" class="btn btn-success" >submit</button>

</form>

</div>
<div [hidden]="!submitted">
    <h4>question submitted succeffully</h4>



</div>
<br>
<button class="btn btn-success" (click)="newQuestion()" >add another question</button>
